.main_title{
    color: blueviolet;
    text-align: center;
    font-size: 2em;
}
.tagline{
    color: purple;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}

.Featured_books{
    background-color: rgb(173, 173, 49);
    text-align: center;
    margin: 50px;
    padding: 20px;
}

.section_title{
    color: rgb(66, 32, 8);
    text-align: center;
    font-style: oblique;
    margin: 10px;
    padding: 10px;

}
.book_list{
    color: rgb(153, 24, 24);
    background-color: burlywood;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.contact{
    background-color: rgb(198, 167, 226);
    margin: 20px;
    padding: 20px;
}